{{ block "oob-success-notification" .}}
<script>
    notify('success', '{{ .Title }}', '{{ .Message }}');
</script>
{{end}}

{{ block "oob-warning-notification" .}}
<script>
    notify('warning', '{{ .Title }}', '{{ .Message }}');
</script>
{{end}}

{{ block "oob-info-notification" .}}
<script>
    notify('info', '{{ .Title }}', '{{ .Message }}');
</script>
{{end}}

{{ block "oob-danger-notification" .}}
<script>
    notify('danger', '{{ .Title }}', '{{ .Message }}');
</script>
{{end}}
