{{ block "password" . }}
<div x-init="passwordContent = $refs.encodedContent.innerText.trim() || 'hello'" class="bg-surface dark:bg-surface-dark-alt rounded-lg shadow-md p-6">
    <h2 class="text-xl font-semibold text-on-surface-strong dark:text-on-surface-dark-strong mb-4"> {{ .PasswordFile }}  </h2>
    <div class="bg-surface-alt dark:bg-surface-dark p-4 rounded border border-outline dark:border-outline-dark">
        <pre class="whitespace-pre-wrap break-all text-on-surface dark:text-on-surface-dark" x-ref="encodedContent"> {{ .EncodedContent }} </pre>
        <pre class="whitespace-pre-wrap break-all text-on-surface-strong dark:text-on-surface-dark-strong" x-ref="decodedContent"></pre>
    </div>
</div>
{{end}}
