{{ block "password" . }}
<div x-init="passwordContent = $refs.encodedContent.innerText.trim() || 'hello'" class="bg-white rounded-lg shadow-md p-6">
    <h2 class="text-xl font-semibold mb-4"> {{ .PasswordFile }}  </h2>
    <div class="bg-gray-100 p-4 rounded">
        <pre class="whitespace-pre-wrap break-all" x-ref="encodedContent"> {{ .EncodedContent }} </pre>
        <pre class="whitespace-pre-wrap break-all" x-ref="decodedContent"></pre>
    </div>
</div>
{{end}}
